<html>
    <head>
        <script src="https://cdn.rawgit.com/davidshimjs/qrcodejs/gh-pages/qrcode.min.js"></script>
        <style>
            {% include "main.css" %}
        </style>
    </head>
    <body>
        <div class="body">
            <div class="remark">
                {{remark}}
            </div>
            <div class="container">
                <div  class="button">
                    <a href="{{baseurl}}/Set/{{admin}}/{{dec}}">
                        –
                    </a>
                </div>
                <div class="counter">
                    {{count}}
                </div>
                <div class="button">
                    <a href="{{baseurl}}/Set/{{admin}}/{{inc}}">
                        +
                    </a>
                </div>
            </div>
            <div class="remark">
                下のQRコードで、どこでも順番を確認できます
            </div>
            <div id="qrcode" class="container"></div>
            <script type="text/javascript">
                var qrcode = new QRCode(document.getElementById("qrcode"), {
                    text: "{{baseurl}}/Q/{{token}}",
                    width: 128,
                    height: 128,
                    colorDark : "#5868bf",
                    colorLight : "#ffffff",
                    correctLevel : QRCode.CorrectLevel.H
                });
            </script>
        </div>
    </body>
</html>
