<html>
    <head>
        <script src="https://cdn.rawgit.com/davidshimjs/qrcodejs/gh-pages/qrcode.min.js"></script>
        <style>
            {% include "main.css" %}
        </style>
        <script>
            {% include "main.js" %}
            var intervalId = setInterval(function() {update_count()}, 15000)
        </script>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Stardos Stencil">
        <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
        <link rel=”mask-icon” href=”/favicon.svg” color=”#000000" />
        <link rel=”apple-touch-icon” href=”/favicon.svg” />
    </head>
    <body>
        <div class="topright">
            <label class="form-switch">
                <input type="checkbox" id="issue">
                <i></i>
                QRコードで発券
            </label>
        </div>
        <div class="vcontainer">
            <input value="{{title}}" type="text" id="title" />
            <div class="container">
                <div class="leftpanel">
                    <h2>
                        現在の順番
                    </h2>
                    <div class="counter" id="count">
                        {{count}}
                    </div>
                    <div class="container">
                        <div  class="button" onclick="decrement()">
                            <button>
                                –
                            </button>
                        </div>
                        <div class="button" onclick="increment()">
                            <button>
                                +
                            </button>
                        </div>
                    </div>
                </div>
                <div class="vcontainer3">
                    <div class="vcontainer" id="issuepane">
                        <h2>
                            次の番号
                        </h2>
                        <div class="counter" id="waiting">
                            {{waiting}}
                        </div>
                    </div>
                    <a href="{{baseurl}}/R/{{occasion_id}}">
                        <div id="qrcode" class="qrcode"></div>
                    </a>
                </div>
            </div>
        </div>
        <script>
            {% include "sub.js" %}
        </script>
    </body>
</html>
