<html>
    <head>
        <script src="https://cdn.rawgit.com/davidshimjs/qrcodejs/gh-pages/qrcode.min.js"></script>
        <style>
            {% include "main.css" %}
        </style>
        <script>
            {% include "main.js" %}
            var intervalId = setInterval(function() {update_count()}, 3000)
        </script>
    </head>
    <body>
        <div class="vcontainer">
            <h1 id="title">
                {{title}}
            </h1>
            <div class="container">
                <div class="vcontainer">
                    <h2>
                        現在の順番
                    </h2>
                    <div class="counter" id="count">
                        {{count}}
                    </div>
                    <div class="container">
                        <div  class="button" onclick="decrement()">
                            <button>
                                –
                            </button>
                        </div>
                        <div class="button" onclick="increment()">
                            <button>
                                +
                            </button>
                        </div>
                    </div>
                </div>
                <div class="vcontainer2">
                    <!-- <h2>
                        次の番号
                    </h2>
                    <div class="counter" id="waiting">
                        {{waiting}}
                    </div> -->
                    <a href="{{baseurl}}/R/{{occasion_id}}">
                        <div id="qrcode" class="container"></div>
                    </a>
                    <script type="text/javascript">
                        var qrcode = new QRCode(document.getElementById("qrcode"), {
                            text: "{{baseurl}}/R/{{occasion_id}}",
                            width: 128,
                            height: 128,
                            colorDark : "#442",
                            colorLight : "#eee",
                            correctLevel : QRCode.CorrectLevel.H
                        });
                    </script>
                </div>
            </div>
        </div>
    </body>
</html>
