<html>
    <head>
        <style>
            {% include "main.css" %}
        </style>
        <script>
            {% include "main.js" %}
            var intervalId = setInterval(function() {update2()}, 15000)
        </script>
    </head>
    <body>
        <div class="vcontainer">
            <h1 id="title">
                {{title}}
            </h1>
            <div class="container">
                <div class="vcontainer">
                    <h2>
                        現在の順番
                    </h2>
                    <div class="counter" id="count">
                        {{count}}
                    </div>
                </div>
                <!-- <div class="vcontainer2">
                    <h2>
                        あなたの番号
                    </h2>
                    <div class="counter">
                        {{waiting}}
                    </div>
                </div> -->
            </div>
        </div>
    </body>
</html>
