<html>
    <head>
        <style>
            {% include "main.css" %}
        </style>
        <script>
            {% include "main.js" %}
            var intervalId = setInterval(function() {update2()}, 15000)
        </script>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Big Shoulders Stencil Text">    </head>
        <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
        <link rel=”mask-icon” href=”/favicon.svg” color=”#000000" />
        <link rel=”apple-touch-icon” href=”/favicon.svg” />
    </head>
    <body>
        <div class="vcontainer">
            <h1 id="title">
                {{title}}
            </h1>
            <div class="container">
                <div class="vcontainer">
                    <h2>
                        現在の順番
                    </h2>
                    <div class="counter" id="count">
                        {{count}}
                    </div>
                </div>
                <div class="vcontainer2" id="idpane">
                    <h2>
                        あなたの番号
                    </h2>
                    <div class="counter">
                        {{waiting}}
                    </div>
                </div>
            </div>
        </div>
        <script>
            update2();
        </script>
    </body>
</html>
